n8n/evento-workflow.json
{
  "id": "eventowf00000001",
  "name": "Eventos Core4 (cada ação da IA)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evento",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "evento-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Ponto único que recebe TODA ação feita pela Áurea. A partir daqui o usuário pode ramificar\n// por 'acao' (registrarParceiro, baixarConta, gerarRelatorioExcel, ...) e disparar automações.\nconst b = ($input.first().json.body) || $input.first().json || {};\nconsole.log('[Core4][evento]', b.acao, '-', b.detalhe);\nreturn [{ json: { recebido: true, acao: b.acao || null } }];"
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Rotear evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"recebido\": true, \"acao\": $json.acao } }}",
        "options": {}
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Rotear evento", "type": "main", "index": 0 }]] },
    "Rotear evento": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
